/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * March 5, 2015
*/

/* =Import Files for Mixin Usage - ETC
----------------------------------------------------------------------------------*/
//the variable file is the one that will be modified by the themer - chris bovard
@import "custom_cac_variables"; 
//bootstrap mixins
@import "bootstrap/mixins";


/* =Base Mobile Layout and Styles
----------------------------------------------------------------------------------*/

//buttons
/*.black-button {
	font-family:$font-family-google;
	background-color:#121212;
	color:#fff;
	@include font-size(1.6, 1.6);
	font-weight:bold;
	text-transform:uppercase;
	&:visited,
	&:hover,
	&:active,
	&:focus {
		text-decoration:none;
		color:#fff;
	} 
	&:hover {
		background-color:#474747;
	}
	&:focus {
		background-color:#737373;
	}
	.fa-angle-right {
		@include font-size(2.0, 2.0);
		font-weight:bold;
	}
}*/
.blue-button {
	font-family:$font-family-google;
	background-color:#0056b7;
	color:#fff;
	@include font-size(1.6, 1.6);
	font-weight:bold;
	text-transform:uppercase;
	border:none;
	&:visited,
	&:hover,
	&:active,
	&:focus {
		text-decoration:none;
		color:#fff;
	} 
	&:hover {
		background-color:#1e7be5;
	}
	&:focus {
		background-color:#4299fc;
	}
	.fa-angle-right {
		@include font-size(2.0, 2.0);
		font-weight:bold;
		padding-left:8px;
	}
}

.blue-border {
	height:8px;
	width:50px;
	background-color:#0056b7;
	position:absolute;
	bottom:0;
	left:0;
}


.div {border:1px solid red;}
.dark-ribbon {
	width:100%;
	height:8px;
	background:transparent url(../img/ribbon-greydark-bg.png) repeat-x center center;
}

.grey-bg {
	background-color:#eeeff1;
	padding:20px;
	min-height:1px;
	@include clearfix();
}
//end of custom classes





/*http://getbootstrap.com/components/#navbar-fixed-top*/
body {padding-top:75px;}

/*header*/
#header {
	width:100%;
	height:75px;
	border-bottom:1px solid #ececec;
	background:#fff;
	h1 {
		margin:14px 0 0 0;
		padding:0;
		text-decoration:none;
		@include hide-text();
		background:transparent url(../img/logo.png) no-repeat center center;
	}
	h1,
	h1 a {
		width:171px;
		height:47px;
		display:block;
	}
}
/*header ends*/

/*navigation*/
#navigation {
	background-color:transparent;
  border:none;
  margin:0;
  .navbar-header {
  	height:75px;
  	@include clearfix();

  }
  .navbar-header {
  	float: left;
  }
  .navbar-nav {
  	float:right;
  	margin:0;
  	li {
  		float:left;
			a {
				@include font-size(1.1, 1.9);
				padding:24px 0 30px 10px;
				color:#121212;
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration:none;
					color:#121212;
				}
				&:hover {color:#0056b7;}
			}
			.nav-red-bg {
				background-color:#d82631;
				color:#fff;
				//@include font-size(1.5, 2.4);
				font-weight:bold;
				//height:75px;
				//padding:24px 22px 30px 20px;
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration:none;
					color:#fff;
					background-color:#d82631;
				}
				&:hover {
					color:#fff;
					background-color:#b2212a;
				}
			}
  	}
  }
}
/*navigation ends*/



/*main content global classes*/
.main-content {
	min-height:100px;
	@include clearfix();
	z-index:$zindex-navbar;
	position:relative;
	padding-bottom:50px;
	header {
		@include clearfix();	
		background:transparent url(../img/ribbon-bg.png) center bottom repeat-x;
		position:relative;
		padding:10px 0 32px 0;
		margin:20px 0 30px 0;
		h1 {
			//@include font-size(3.6, 3.8);
			@include font-size(5.2, 5.0);
			font-family:$font-family-google;
			font-weight:bold;
			margin:0 0 0 0;
		}
	}
}
/*main content global classes ends*/

/*form globals*/
.form-group {
	margin-bottom:22px;
}
label {
	@include font-size(1.6, 2.8);
	font-family:$font-family-google;	
	color:#2f63c9;
	text-transform:uppercase;
}
.checkbox label {
	color:#5b5b5b;
	font-family:$font-family-sans-serif;
	text-transform:capitalize;
	@include font-size(1.5, 2.2);
}

.form-control {
	border:none;
	border-top:2px solid #d9d9d9;
	height:64px;
	@include font-size(2.4, 2.8);
	color:#d9d9d9;
}



/*form globals ends*/



/*account-login*/
#account-login {
	#login-form {
		.checkbox {
			float:none;
			clear:both;
			width:100%;
			input[type="checkbox"] {display:none;}
		}
		button {
			float:none;
			clear:both;
			width:100%;
			margin-top:18px;
			//maybe move to global
			padding:22px 22px 20px 26px;
		}
	}
	#login-form-wrapper {
		margin-bottom:20px;
	}
	#forgot-pass-sigup {
		padding:0;
		list-style:none;
		margin:0 0 20px 0;
		li {
			border-bottom:1px solid #eeeff1;
			padding-bottom:8px;
			@include font-size(1.5, 2.2);
			color:#5b5b5b;
			a {font-weight:bold;}
			&.last {
				border:none;
				padding-top:6px;
			}
		}
	}
  #account-or-wrap {
  	min-height:344px;
  	position:relative;
  }
	#account-or {
		background-color:#000;
		@include font-size(1.6, 2.6);
		padding:16px 0 0 15px;
		color:#fff;
		font-family:$font-family-google;	
		text-transform:uppercase;
		margin:145px auto 0 auto;
		width:58px;
		height:58px;
		border-radius:50%;
	}

	#social-signup-wrapper {
		min-height:144px;
		@include clearfix();
		#social-signup {
			list-style:none;
			padding-left:0;
			margin:6px 0 0 0;
			li {
				display:block;
				height:60px;
				margin-bottom:20px;
				padding-left:58px;
				&.last {margin:0;}
			}
			#social-signup-facebook {
				background:#366ad0 url(../img/facebook-icon.png) no-repeat 20px center;
				a {
					background-color:#366ad0;
					border-left:#2b5ac6 3px solid;
				}
			}
			#social-signup-twitter {
				background:#00d8ff url(../img/twitter-icon.png) no-repeat 20px center;
				a {
					background-color:#00d8ff;
					border-left:#00b7ff 3px solid;
				}
			}
			a {
				display:block;
				height:60px;
				padding-left:20px;
				width:100%;
				//@include font-size(1.6, 5.8);
				@include font-size(1.2, 5.9);
				.fa {display:none;}
			}
		}
	}
}
/*account-login ends*/





/*footer*/
#footer {
	min-height:76px;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	padding:20px 0;
	width:100%;
	margin-bottom:100px;
	ul {
		list-style:none;
		padding:0;
		margin:0;
		background:transparent url(../img/footer-menu-mobile-bg.png) 33% top no-repeat;
		display:block;
		min-height:1px;
		@include clearfix();
		li {
			list-style:none;
			display:block;
			width:40%;
			float:left;
			margin-bottom:30px;
			a {
			  @include font-size(1.5, 1.8);
			  color:#121212;
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration:none;
				} 
				&:hover {
					color:#0056B7;
				}
			}
		}
	}
	h6 {
		margin:0;
		padding:0;
		clear:both;
		color:#b7b7b7;
		@include font-size(1.5, 2.2);
		font-weight:normal;
	}
}
/*footer ends*/






