/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * Apr. 12, 2015
*/

/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
//the variable file is the one that will be modified by the themer - chris bovard
@import "custom_cac_variables"; 
//boostrap mixins
@import "bootstrap/mixins";

/* =Tablet Layout and Styles
----------------------------------------------------------------------------------*/
//classes 
.blue-button {
  margin-top:30px;
}
/*navigation*/
#navigation .navbar-nav li a {
  @include font-size(1.3, 2.1);
  padding:24px 22px 30px 20px;
}
/*navigation ends*/

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-left:20px;
}

/*main content global classes*/
.main-content {
  padding-bottom:100px;
  header {
    h1 {
      @include font-size(5.2, 5.0);
    }
  }
}
/*main content global classes ends*/

/*account-login*/
#account-login {
  #login-form {
    .checkbox {
      width:60%;
      padding-right:14px;
      float:left;
      clear:none;
      margin-top:0;
    }
    button {
      width:40%;
      float:right;
      clear:none;
      margin-top:0;   
    }
  }
  #social-signup-wrapper {
    //min-height:344px;
    #social-signup {
      padding-left:0;
      a {
        @include font-size(1.6, 5.8);
        .fa {display:inline-block;}
      }
    }
  }
}
/*account-login ends*/

/*membership-renewal*/
#membership-renewal {
  #login-forgot-box {
    #login-forgot-box-inner { 
      min-height:304px;
      background:#0056b7 url(../img/login-forgot-box-bg.png) no-repeat center top;  
      background-size:100% auto;
      #login-forgot-box-left,
      #login-forgot-box-right {
        float:left;
        width:50%;
        min-height:277px;
        padding-bottom:92px;
        clear:none;
        h2 {
          text-align:left;
        }
        a.black-button {
          //padding:22px 22px 20px 26px;
          position:absolute;
          left:0;
          bottom:0;
          display:inline;
        }
      }
      #login-forgot-box-left {
        background:transparent url(../img/ribbon-down-bg.png) right top repeat-y;
        padding-right:30px;
      }
      #login-forgot-box-right {
        padding-left:40px;
        padding-right:30px;
        a.black-button {left:40px;}
      }
    }
  }
  #nologin-box {
    margin:0;
    #nologin-box-inner { 
      min-height:140px;
      h2 {
        margin:0;
      }
      p {
        position:absolute;
        left:28px;
        bottom:30px;
      }
    }
  }
  #membership-renewal-form {
    h3 {
      float:left;
    }
    h4 {
      float:right;
      margin:0 0 0 20%;
    }
    #renew-checkbox {
      margin-bottom:22px;
    }
  }
}
/*membership-renewal ends*/


/*organization-membership && membership-appilcation*/
#organization-membership,
#membership-application {
  #join-now-inner { 
    min-height:140px;
    background:#0056b7 url(../img/login-forgot-box-bg.png) no-repeat center center;  
    background-size:100% auto;
  }
  #organization-membership-form,
  #membership-application-form {
    h3 {
      float:left;
    }
    h4 {
      float:right;
      margin:0 0 0 20%;
    }   
    #renew-checkbox {
      margin-bottom:22px;
    } 
  }
}
/*organization-membership && membership-appilcation ends*/

/*footer*/
#footer {
	ul {
    background:none;
    display:inline;
    li {
      list-style:none;
      display:inline;
      float:left;
      margin:0;
      width:auto;
      padding:3px 26px 3px 0;
      margin:0 26px 0 0;
    }
	  #footer-contact {border-right:3px solid #eeeff1;}
	}
	h6 {
    margin-top:30px;
    br {display:none;}
	}
}
/*footer ends*/
