/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * March 5, 2015
*/

/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
//the variable file is the one that will be modified by the themer - chris bovard
@import "custom_cac_variables"; 
//boostrap mixins
@import "bootstrap/mixins";

/* =Tablet Layout and Styles
----------------------------------------------------------------------------------*/

/*navigation*/
#navigation .navbar-nav li a {
  @include font-size(1.3, 2.1);
  padding:24px 22px 30px 20px;
}
/*navigation ends*/

/*main content global classes*/
.main-content {
  padding-bottom:100px;
}
/*main content global classes ends*/


/*account-login*/
#account-login {
  #login-form {
    .checkbox {
      width:60%;
      padding-right:14px;
      float:left;
      clear:none;
      margin-top:0;
    }
    button {
      width:40%;
      float:right;
      clear:none;
      margin-top:0;   
    }
  }
  #social-signup-wrapper {
    //min-height:344px;
    #social-signup {
      padding-left:0;
      a {
        @include font-size(1.6, 5.8);
        .fa {display:inline-block;}
      }
    }
  }
}
/*account-login ends*/

/*footer*/
#footer {
	ul {
    background:none;
    display:inline;
    li {
      list-style:none;
      display:inline;
      float:left;
      margin:0;
      width:auto;
      padding:3px 26px 3px 0;
      margin:0 26px 0 0;
    }
	  #footer-contact {border-right:3px solid #eeeff1;}
	}
	h6 {
    margin-top:30px;
    br {display:none;}
	}
}
/*footer ends*/
