/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * Apr. 12, 20154
*/

/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
//the variable file is the one that will be modified by the themer - chris bovard
@import "custom_cac_variables"; 
//boostrap mixins
@import "bootstrap/mixins";

/* =Desktop Layout and Styles
----------------------------------------------------------------------------------*/

//classes
.blue-button {
  margin-top:36px;
}

/*main content global classes*/
.main-content {
  padding-bottom:120px;
  header {
    margin:40px 0 40px 0;
  }
}
/*main content global classes ends*/

/*account-login*/
#account-login {
  #login-form .checkbox {padding-right:24px;}
  #social-signup-wrapper {
    min-height:344px;
    #social-signup {
      margin:22px 0 0 0;
      padding-left:40px;
    }
  }
}
/*account-login ends*/

/*membership-renewal*/
#membership-renewal {
  #nologin-box {
    #nologin-box-inner {
      min-height:324px;
    }
  }
  #membership-renewal-form {
    header {
      h3 {
        @include font-size(2.6, 3.0);
      }
      h4 {
        @include font-size(1.6, 2.8);
      }
    }
    h3 {
      @include font-size(2.6, 3.0);
    }
  }
}
/*membership-renewal ends*/

/*organization-membership && membership-appilcation*/
#organization-membership,
#membership-application {
  #organization-membership-intro {
    h2 {
      @include font-size(2.6, 3.0);
      margin:0 0 28px 0;
    } 
    p {
      @include font-size(2.0, 2.4);
      &.upper {
        margin-bottom:28px;
        padding-right:60px;
      }
      strong {
        @include font-size(2.0, 2.4);
      }
    }
  }
  #join-now-inner { 
    margin-top:0;
    min-height:238px;
    background-size:auto 100%;
    text-align:left;
    h2 {
      text-align:left;
      margin-bottom:30px;
    }
    a {text-align:left;}
  }
  #organization-membership-form,
  #membership-application-form {
    header {
      h3 {
        @include font-size(2.6, 3.0);
      }
      h4 {
        @include font-size(1.6, 2.8);
      }
    }
    h3 {
      @include font-size(2.6, 3.0);
    }
  }
}
/*organization-membership && membership-appilcation ends*/

/*footer*/
#footer {
  ul {
      float:left;
      clear:none;
  }
  h6 {
		float:right;	
		clear:none;
    margin-top:4px;
    br {display:none;}
  }
}
/*footer ends*/
