/* CAC Custom AST Page styles
 * Author: Chris Bovard - www.chrisbovard.com
 * May 19, 2015
*/
/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
/* =Styles AST Providers and Courses Pages
----------------------------------------------------------------------------------*/
#ast-search-bar {
  margin-top: 75px;
  width: 100%;
  min-height: 125px;
}
#ast-search-bar:before, #ast-search-bar:after {
  content: " ";
  display: table;
}
#ast-search-bar:after {
  clear: both;
}
#ast-search-bar.ast-providers {
  background: #377cd9 url(../img/ast-search-bar-providers-bg.jpg) no-repeat center center;
  background-size: 100% 100%;
}
#ast-search-bar.ast-courses {
  background: #ccc url(../img/ast-search-bar-courses-bg.jpg) no-repeat center center;
  background-size: 100% 100%;
}
#ast-search-bar #ast-search-nav {
  width: 100%;
  height: 72px;
  border-top: 6px solid #1e59a9;
  background-color: #000;
}
#ast-search-bar #ast-search-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#ast-search-bar #ast-search-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}
#ast-search-bar #ast-search-nav li > a {
  display: block;
  height: 66px;
  padding: 22px 20px 10px 20px;
  color: #fff;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
#ast-search-bar #ast-search-nav li > a:visited, #ast-search-bar #ast-search-nav li > a:hover, #ast-search-bar #ast-search-nav li > a:active, #ast-search-bar #ast-search-nav li > a:focus {
  background-color: transparent;
}
#ast-search-bar #ast-search-nav li > a:hover, #ast-search-bar #ast-search-nav li > a.active {
  background-color: #377cd9;
}
#ast-search-bar #ast-search-nav li > a:hover .arrow-down, #ast-search-bar #ast-search-nav li > a.active .arrow-down {
  display: block;
}
#ast-search-bar #ast-search-nav li > a .arrow-down {
  position: absolute;
  top: 0px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1e59a9;
  display: none;
}
#ast-search-bar #ast-search-nav #nav-courses .arrow-down {
  left: 49px;
}
#ast-search-bar #ast-search-nav #nav-providers .arrow-down {
  left: 57px;
}
#ast-search-bar #ast-search-filters {
  height: 398px;
}
#ast-search-bar #ast-search-filters h1 {
  font-size: 36px;
  line-height: 38px;
  font-size: 3.6rem;
  line-height: 3.8rem;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  margin: 18px 0 20px 0;
}
#ast-search-bar #ast-search-filters .dropdown-filters .dropdown-filters-inner {
  position: relative;
}
#ast-search-bar #ast-search-filters .dropdown-filters button {
  border: none;
  background-color: #eeeff1;
  font-size: 16px;
  line-height: 28px;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #808080;
  height: 60px;
  width: 80%;
  padding: 0 14px;
  text-align: left;
  margin-bottom: 10px;
}
#ast-search-bar #ast-search-filters .dropdown-filters button .fa {
  color: #0056b7;
  float: right;
  font-size: 16px;
  line-height: 30px;
  font-size: 1.6rem;
  line-height: 3rem;
}
#ast-search-bar #ast-search-filters .dropdown-filters button .fa-chevron-up {
  display: none;
}
#ast-search-bar #ast-search-filters .dropdown-filters button .fa-chevron-down {
  display: inline-block;
}
#ast-search-bar #ast-search-filters .dropdown-filters.open .fa-chevron-up {
  display: inline-block;
}
#ast-search-bar #ast-search-filters .dropdown-filters.open .fa-chevron-down {
  display: none;
}
#ast-search-bar #ast-search-filters .dropdown-filters .dropdown-menu {
  top: 60px;
  margin: 0;
  padding: 8px 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  width: 100%;
  background-color: #1e59a9;
  font-size: 16px;
  line-height: 28px;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
#ast-search-bar #ast-search-filters .dropdown-filters .dropdown-menu li {
  font-size: 16px;
  line-height: 28px;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #fff;
}
#ast-search-bar #ast-search-filters .dropdown-filters .dropdown-menu li a {
  font-size: 16px;
  line-height: 48px;
  font-size: 1.6rem;
  line-height: 4.8rem;
  color: #fff;
  padding: 0 14px;
}
#ast-search-bar #ast-search-filters .dropdown-filters .dropdown-menu li a:visited, #ast-search-bar #ast-search-filters .dropdown-filters .dropdown-menu li a:hover, #ast-search-bar #ast-search-filters .dropdown-filters .dropdown-menu li a:active, #ast-search-bar #ast-search-filters .dropdown-filters .dropdown-menu li a:focus {
  color: #fff;
  text-decoration: none;
}
#ast-search-bar #ast-search-filters .dropdown-filters .dropdown-menu li a:hover {
  text-decoration: none;
  background-color: transparent;
}
#ast-search-bar #ast-search-filters #location-filter .input-group {
  background-color: #eeeff1;
  width: 80%;
  height: 60px;
  padding: 0 14px;
  margin-bottom: 10px;
}
#ast-search-bar #ast-search-filters #location-filter .form-control {
  padding: 0;
  float: left;
  width: 94%;
  height: 60px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 28px;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #808080;
  text-align: left;
  box-shadow: none;
}
#ast-search-bar #ast-search-filters #location-filter #location-addon {
  float: left;
  width: 6%;
  font-size: 16px;
  line-height: 30px;
  font-size: 1.6rem;
  line-height: 3rem;
}
#ast-search-bar #ast-search-filters #location-filter #location-addon .fa {
  color: #0056b7;
  font-size: 20px;
  line-height: 60px;
  font-size: 2rem;
  line-height: 6rem;
  float: right;
}
#ast-search-bar #ast-search-filters #submit-filter button {
  clear: both;
  display: block;
  padding: 0 24px;
  height: 60px;
  border: none;
}

#ast-page-content {
  min-height: 200px;
  margin-top: 5px;
  margin-bottom: 60px;
  position: relative;
}
#ast-page-content:before, #ast-page-content:after {
  content: " ";
  display: table;
}
#ast-page-content:after {
  clear: both;
}
#ast-page-content .table-responsive {
  padding-bottom: 20px;
  border: none;
}

#header-inner {
  background: transparent url(../img/ribbon-bg.png) center bottom repeat-x;
  position: relative;
  padding: 0 0 34px 0;
}
#header-inner h2 {
  font-size: 36px;
  line-height: 38px;
  font-size: 3.6rem;
  line-height: 3.8rem;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  float: left;
  margin: 18px 0 0 0;
}
#header-inner:before, #header-inner:after {
  content: " ";
  display: table;
}
#header-inner:after {
  clear: both;
}

#ast-table thead tr th {
  padding-bottom: 24px;
  padding-top: 22px;
  padding-left: 16px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 28px;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #b5b5b5;
  border-left: 2px solid #eeeff1;
  border-right: 2px solid #eeeff1;
  border-bottom: 2px solid #eeeff1;
}
#ast-table thead tr.space th {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
#ast-table thead tr.sponsors-head {
  background-color: #000;
}
#ast-table thead tr.sponsors-head th {
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  border: none;
  padding: 10px;
}
#ast-table tbody tr td {
  border-top: none;
  font-size: 15px;
  line-height: 22px;
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 16px 10px 16px 10px;
}
#ast-table tbody tr.sponsors {
  background: transparent url(../img/ribbon-bg.png) repeat;
}
#ast-table tbody tr.sponsors td {
  border-bottom: 2px solid #fff;
  font-weight: bold;
}
#ast-table tbody tr.sponsor-last td {
  border-bottom: 5px solid #000;
}

.table {
  margin: 0;
}
.table tbody tr td {
  border-top: none;
  border-bottom: 2px solid #eeeff1;
  font-size: 15px;
  line-height: 22px;
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 16px 10px 16px 10px;
}
.table tbody tr.more-info {
  background-color: #eeeff1;
}
.table tbody tr.more-info td {
  font-weight: normal !important;
  color: #5b5b5b;
  font-size: 15px;
  line-height: 28px;
  font-size: 1.5rem;
  line-height: 2.8rem;
}
.table tbody tr.more-info td strong {
  font-weight: bold;
  color: #000;
  font-size: 15px;
  line-height: 28px;
  font-size: 1.5rem;
  line-height: 2.8rem;
}
.table tbody tr.more-info td a {
  color: #5b5b5b;
  font-size: 15px;
  line-height: 28px;
  font-size: 1.5rem;
  line-height: 2.8rem;
}
.table tbody tr.more-info td a:visited, .table tbody tr.more-info td a:hover, .table tbody tr.more-info td a:active, .table tbody tr.more-info td a:focus {
  color: #5b5b5b;
  text-decoration: none;
}
.table tbody tr.more-info td a:hover {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  #ast-search-bar #ast-search-filters h1 {
    font-size: 50px;
    line-height: 52px;
    font-size: 5rem;
    line-height: 5.2rem;
    margin: 40px 0 20px 0;
  }

  #header-inner h2 {
    font-size: 50px;
    line-height: 52px;
    font-size: 5rem;
    line-height: 5.2rem;
    margin: 28px 0 0 0;
  }

  .filters .filters-inner a {
    width: 50%;
    border-left: none;
  }
}
@media screen and (min-width: 1025px) {
  #ast-search-bar {
    min-height: 466px;
  }

  #ast-search-bar #ast-search-filters h1 {
    margin: 80px 0 30px 0;
  }

  #header-inner h2 {
    margin: 48px 0 0 0;
  }

  #ast-search-bar #ast-search-filters .dropdown-filters button,
  #ast-search-bar #ast-search-filters #location-filter .input-group {
    width: 100%;
    margin: 0;
  }

  .filters .filters-inner a {
    width: 25%;
  }
  .filters .filters-inner a.last {
    border-right: none;
  }
}
