/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * Aug. 25, 2014
*/
/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
/* =Styles for 320 to Desktop
----------------------------------------------------------------------------------*/
/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * Aug. 25, 2014
*/
/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
/* =Base Mobile Layout and Styles
----------------------------------------------------------------------------------*/
.div {
  border: 1px red solid;
}

#page-wrap {
  width: 100%;
  min-height: 1px;
}
#page-wrap:before, #page-wrap:after {
  content: " ";
  display: table;
}
#page-wrap:after {
  clear: both;
}

/*multilevel - mobile menu*/
#menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
#menu #menu_multilevelpushmenu h2 {
  font-size: 24px;
  line-height: 24px;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #b1b1b1;
  font-weight: normal;
  margin: 0;
  padding: 18px 14px 26px 24px;
}
#menu #menu_multilevelpushmenu h2 i.fa-times {
  padding: 6px 6px 0 10px;
  width: 40px;
  height: 40px;
}
#menu #menu_multilevelpushmenu h2 #multinav-home {
  font-size: 24px;
  line-height: 24px;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #b1b1b1;
  display: block;
  width: 40px;
  height: 40px;
  padding: 6px 0 0 6px;
  position: relative;
  z-index: 1000;
}
#menu #menu_multilevelpushmenu h2 #multinav-home:hover {
  color: #b1b1b1;
}
#menu #menu_multilevelpushmenu .ltr {
  background: #efefef url(../img/multi-nav-layer-1-bg.png) left 75px repeat-x;
  box-shadow: none;
}
#menu #menu_multilevelpushmenu .ltr ul li {
  border: none;
  padding: 26px 98px 0 30px;
}
#menu #menu_multilevelpushmenu .ltr ul li:hover {
  background-color: transparent;
}
#menu #menu_multilevelpushmenu .ltr ul li a {
  color: #121212;
  font-size: 20px;
  line-height: 24px;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;
  padding: 0;
}
#menu #menu_multilevelpushmenu .ltr ul li a .fa-angle-left {
  display: none;
}
#menu #menu_multilevelpushmenu .ltr ul li a:focus, #menu #menu_multilevelpushmenu .ltr ul li a:hover {
  color: #0056b7;
}
#menu #menu_multilevelpushmenu .ltr ul #multilevel-donate {
  padding-left: 11px;
}
#menu #menu_multilevelpushmenu .ltr ul #multilevel-donate a {
  color: #fff;
  background-color: #d82631;
  display: block;
  width: 180px;
  height: 53px;
  padding: 18px 0 18px 11px;
  font-size: 20px;
  line-height: 20px;
  font-size: 2rem;
  line-height: 2rem;
}
#menu #menu_multilevelpushmenu .ltr .ltr {
  background: #e0e0e0 url(../img/multi-nav-layer-2-bg.png) left 75px repeat-x;
  box-shadow: none;
  padding-top: 84px;
}
#menu #menu_multilevelpushmenu .ltr .ltr h2 {
  display: none;
  color: #121212;
  font-size: 20px;
  line-height: 24px;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;
  padding: 20px 98px 0 30px;
}
#menu #menu_multilevelpushmenu .ltr .ltr h2:focus, #menu #menu_multilevelpushmenu .ltr .ltr h2:hover {
  color: #0056b7;
}
#menu #menu_multilevelpushmenu .ltr .ltr ul li a {
  color: #0056b7;
}
#menu #menu_multilevelpushmenu .ltr .ltr ul li a:focus, #menu #menu_multilevelpushmenu .ltr .ltr ul li a:hover {
  color: #121212;
}
#menu #menu_multilevelpushmenu .ltr .ltr .ltr {
  background-color: #d2d2d2;
  background: #d2d2d2 url(../img/multi-nav-layer-3-bg.png) left 75px repeat-x;
  box-shadow: none;
}
#menu #menu_multilevelpushmenu .backItemClass {
  position: absolute;
  top: 24px;
  right: 20px;
  visibility: visible !important;
  padding: 0;
  background-color: transparent;
  border: none;
}
#menu #menu_multilevelpushmenu .backItemClass a {
  font-size: 24px;
  line-height: 24px;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #b1b1b1;
  font-weight: normal;
  padding: 0;
}
#menu #menu_multilevelpushmenu .backItemClass a i {
  font-size: 26px;
  line-height: 26px;
  font-size: 2.6rem;
  line-height: 2.6rem;
  color: #b1b1b1;
  font-weight: bold;
}
#menu #menu_multilevelpushmenu .backItemClass a i:focus, #menu #menu_multilevelpushmenu .backItemClass a i:hover {
  color: #b1b1b1;
}
#menu #menu_multilevelpushmenu .backItemClass a:focus, #menu #menu_multilevelpushmenu .backItemClass a:hover {
  color: #b1b1b1;
}

/*multilevel - mobile menu ends*/
/*header*/
#header {
  height: 75px;
  /*navigation*/
  /*navigation ends*/
}
#header h1 {
  margin: 14px 0 0 0;
  text-decoration: none;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background: transparent url(../img/logo-mobile.png) no-repeat center center;
}
#header h1,
#header h1 a {
  width: 147px;
  height: 47px;
  display: block;
}
#header #navigation {
  background-color: transparent;
  border: none;
  margin: 0;
}
#header #navigation .navbar-header {
  height: 75px;
}
#header #navigation .navbar-header:before, #header #navigation .navbar-header:after {
  content: " ";
  display: table;
}
#header #navigation .navbar-header:after {
  clear: both;
}
#header #navigation .navbar-header #multi-expand {
  margin: 22px 28px 0 0;
  padding: 0;
  border-radius: 0;
  border: none;
  font-size: 30px;
  line-height: 30px;
  font-size: 3rem;
  line-height: 3rem;
  color: #b1b1b1;
}
#header #navigation .navbar-header #multi-expand:focus, #header #navigation .navbar-header #multi-expand:hover {
  color: #b1b1b1;
}
#header #navigation .navbar-header #nav-search {
  float: right;
  margin: 26px 0 0 0;
  font-size: 20px;
  line-height: 20px;
  font-size: 2rem;
  line-height: 2rem;
  color: #b1b1b1;
}
#header #navigation .navbar-header #nav-search:focus, #header #navigation .navbar-header #nav-search:hover {
  color: #b1b1b1;
}
#header #navigation .navbar-header #nav-donate {
  float: right;
  margin: 0 28px 0 0;
  background-color: #d82631;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: bold;
  display: block;
  height: 75px;
  width: 94px;
  padding: 24px 22px 30px 20px;
}

/*header ends*/
/*map*/
#map {
  min-height: 416px;
}

/*map ends*/
/*sponsor-bar*/
#sponsor-bar {
  height: 148px;
}

/*sponsor-bar ends*/
/*know-more*/
#know-more {
  height: 290px;
}

/*know-more ends*/
/*news*/
#news {
  min-height: 400px;
}

/*news ends*/
/*videos*/
#videos {
  height: 390px;
}

/*videos ends*/
/*blog*/
#blog {
  min-height: 600px;
}

/*blog ends*/
/*communities*/
#communities {
  min-height: 600px;
}

/*communities ends*/
/*auction*/
#auction {
  min-height: 600px;
}

/*auction ends*/
/*footer*/
#footer {
  height: 214px;
}

/*footer ends*/
@media screen and (min-width: 600px) {
  /* CAC Custom styles
   * Author: Chris Bovard - www.chrisbovard.com
   * Aug. 25, 2014
  */
  /* =Import Files for Mixin Usage
  ----------------------------------------------------------------------------------*/
  /* =Tablet Layout and Styles
  ----------------------------------------------------------------------------------*/
  .div {
    border: 1px blue solid;
  }

  .reddiv {
    border: 1px red solid;
  }

  /*header*/
  #header {
    /*navigation*/
    /*navigation ends*/
  }
  #header h1 {
    background: transparent url(../img/logo.png) no-repeat center center;
  }
  #header h1,
  #header h1 a {
    width: 264px;
    height: 47px;
    display: block;
  }
  #header #navigation .navbar-header #nav-donate {
    float: right;
    margin: 0 28px 0 0;
    background-color: #d82631;
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: bold;
    display: block;
    height: 75px;
    width: 94px;
    padding: 24px 22px 30px 20px;
  }

  /*header ends*/
}
@media screen and (min-width: 1025px) {
  /* CAC Custom styles
   * Author: Chris Bovard - www.chrisbovard.com
   * Aug. 25, 2014
  */
  /* =Import Files for Mixin Usage
  ----------------------------------------------------------------------------------*/
  /* =Desktop Layout and Styles
  ----------------------------------------------------------------------------------*/
  /*header*/
  #header {
    /*navigation*/
    /*navigation ends*/
  }
  #header #navigation {
    /* http://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click */
  }
  #header #navigation .navbar-collapse {
    padding: 0;
    /*main nav and mega yamm menu*/
  }
  #header #navigation .navbar-collapse ul.nav > li {
    position: relative;
  }
  #header #navigation .navbar-collapse ul.nav > li > a {
    display: block;
    height: 75px;
    color: #000;
    position: relative;
    font-size: 15px;
    line-height: 15px;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  #header #navigation .navbar-collapse ul.nav > li > a .arrow-down {
    position: absolute;
    z-index: 1060;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    display: none;
  }
  #header #navigation .navbar-collapse ul.nav > li > a:focus, #header #navigation .navbar-collapse ul.nav > li > a:hover, #header #navigation .navbar-collapse ul.nav > li > a.active {
    color: #fff;
    background-color: #000;
  }
  #header #navigation .navbar-collapse ul.nav > li > a:focus .arrow-down, #header #navigation .navbar-collapse ul.nav > li > a:hover .arrow-down, #header #navigation .navbar-collapse ul.nav > li > a.active .arrow-down {
    display: block;
  }
  #header #navigation .navbar-collapse ul.nav > li.open > a {
    color: #fff;
    background-color: #000;
  }
  #header #navigation .navbar-collapse ul.nav > li.open > a .arrow-down {
    display: block;
  }
  #header #navigation .navbar-collapse ul.nav #nav-avalanche-info .arrow-down {
    left: 76px;
  }
  #header #navigation .navbar-collapse ul.nav #nav-learn .arrow-down {
    left: 23px;
  }
  #header #navigation .navbar-collapse ul.nav #nav-community .arrow-down {
    left: 43px;
  }
  #header #navigation .navbar-collapse ul.nav #nav-news-events .arrow-down {
    left: 51px;
  }
  #header #navigation .navbar-collapse ul.nav #nav-store .arrow-down {
    left: 22px;
  }
  #header #navigation .navbar-collapse ul.nav .dropdown-menu {
    background-color: #efefef;
    left: 0;
    border: none;
    box-shadow: none;
    padding: 30px 0 46px 0;
    border-top: 9px solid #e3e3e3;
  }
  #header #navigation .navbar-collapse #nav-donate-desktop {
    float: right;
    margin: 0 0 0 0;
    background-color: #d82631;
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: bold;
    display: block;
    height: 75px;
    width: 94px;
    padding: 24px 22px 30px 20px;
  }
  #header #navigation .navbar-collapse #nav-search-desktop {
    float: right;
    margin: 26px 0 0 0;
    font-size: 20px;
    line-height: 20px;
    font-size: 2rem;
    line-height: 2rem;
    color: #b1b1b1;
  }
  #header #navigation .navbar-collapse #nav-search-desktop:focus, #header #navigation .navbar-collapse #nav-search-desktop:hover {
    color: #b1b1b1;
  }
  #header #navigation ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }

  /*header ends*/
}
