/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * Sept. 2, 2014
*/

/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
//the variable file is the one that will be modified by the themer - chris bovard
@import "custom_cac_variables"; 
//boostrap mixins
@import "bootstrap/mixins";

/* =Tablet Layout and Styles
----------------------------------------------------------------------------------*/
.div {border:1px blue solid;}
.reddiv {border:1px red solid;}

/*header*/
#header {
	h1 {background:transparent url(../img/logo.png) no-repeat center center;}
	h1,
	h1 a {
		width:264px;
		height:47px;
		display:block;
	}	
	/*navigation*/
	#navigation {
    .navbar-header {
    	#nav-donate {
    		float:right;
    		margin:0 28px 0 0;
    		background-color:#d82631;
    		color:#fff;
    		@include font-size(1.5, 2.4);
    		font-weight:bold;
    		display:block;
    		height:75px;
    		width:94px;
    		padding:24px 22px 30px 20px;
            &:visited,
            &:hover,
            &:active,
            &:focus {
                text-decoration:none;
                color:#fff;
            } 
            &:hover {
                background-color:#b2212a;
            }
    	}
    }
	}
	/*navigation ends*/
}
/*header ends*/


/*sponsor-bar*/
#sponsor-bar {
    #sponsor-ad-container {
        padding:23px 16px 0 16px;
        #sponsor-text {
            float:left;
            font-family:$font-family-google;
            font-weight:bold;
            color:#121212;
            @include font-size(1.6, 1.6);
            text-transform:uppercase;
            padding:16px 0 0 0;
            margin:0;
        }
        #sponsor-link {
            float:right;         
        }

    }
}
/*sponsor-bar ends*/

/*know-more*/
#know-more {
    height:243px;
    article {
        padding-top:50px;
        header {
            width:318px;
            float:left;
            clear:none;
            padding-top:16px;
            h2 {
                @include font-size(5.0, 5.2);
                span {@include font-size(5.0, 5.2);}
            }
        }
        footer {
            width:230px;
            float:right;
            clear:none;
        }
    }
}
/*know-more ends*/
