/* =Styles for modern browsers
----------------------------------------------------------------------------------*/

//@import "_layout.scss";
//@import "_styles.scss";

@mixin font-size($size:1.6, $line: $size * 1.5){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}

@media screen and (min-width: 768px) {
  @import "_breakpoint_tablet.scss";
}

@media screen and (min-width: 1000px) {
  @import "_breakpoint_desktop.scss";
}