/* =Styles for modern browsers
----------------------------------------------------------------------------------*/

//custom font mixin. I left this here because the other file might get wipped out.
@mixin font-size($size:1.6, $line: $size * 1.5){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}
//--------------


//320 mobile styles and up
@import "_base_mobile.scss";


@media screen and (min-width: 768px) {
  @import "_breakpoint_tablet.scss";
}

@media screen and (min-width: 1000px) {
  @import "_breakpoint_desktop.scss";
}